.box1a{
    width: 100%;
    height: 50px;
    background-color: grey;
    border: 3px solid #44446d;
  }

  .box2a{
      width: 30.2%;
      height: 35px;
      background-color: #44446d;
      border: 3px solid grey;
      margin-top: 10px;
      margin-bottom: 30px;
      float: left;
  }

  .box2b{
      width: 30.2%;
      height: 35px;
      background-color: #44446d;
      border: 3px solid grey;
      margin-top: 10px;
      margin-left: 50px;
      margin-bottom: 30px;
      float:left;
  }

  .box2c{
      width: 30%;
      height: 35px;
      background-color: #44446d;
      border: 3px solid grey;
      margin-left: 50px;
      margin-top: 10px;
      margin-bottom: 30px;
      float: left;
  }


  .box3a{
      width: 30%;
      height: 190px;
      background-color: white;
      border: 3px solid #44446d;
      margin-left: 400px;
      margin-top: 150px;
      float: right;
      float: none;
      float: left;
  }



  p.box1a {
      color: black;
  }

  a{
    color: white;
  }

  p, span {
    font-size: 20px;
}

p{
  text-align: center;
  font-size: 30px;
}

#header b {
    display: inline-block;
    border: 1px solid black;
    margin-right: 20px;
    text-align: center;
}

b {
    text-decoration: none;
    color: white;

}

img {
  margin-top: 40px;
  margin-left: 180px;
}

.bass{
  margin-right: 20px;
}
