.container{
  width: 90%;
  margin:0 auto;
}

.row{
  margin-top: 10px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.box1a{
    width: 100%;
    height: 50px;
    background-color: grey;
    border: 3px solid #44446d;
  }
  p{
    text-align: center;
    font-size: 30px;
  }
  .box3a p{
    text-align: left;
    color: white;
  }
  b {
      text-decoration: none;
      color: white;
  }

  aside.primary{
    float:left;
    width:35%;
    margin-right: 2%;
    border: 3px solid #44446d;
    background-color: white;
    text-align: center;
    color:white;
    padding: 1%;
  }
  aside.primary img{
    float:left;
    width:100%;
    margin-right: 2%;
    background-color: white;
    text-align: center;
    color:white;
    padding: 1%;
  }

  section.primary {
    float:left;
    height: 500px;
    width:60%;
    background-color: #156a77;
    padding-top: 0;
    padding-bottom: 2%;
  }

  section.box3a{

    width: 90%;

  }
